* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

#view {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#timeline-wrapper {
    display: flex;
    align-items: center;
    height: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    z-index: 0;
    -webkit-overflow-scrolling: touch;
}

#timeline {
    height: 400px;
    padding-left: calc(50vw - 133px);
    white-space: nowrap;
}

#image-view {
    height: 100vh;
    width: 100vw;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 1;
    padding: 10px;
}

.picture {
    max-height: 100%;
    max-width: 100%;
}

.thumbnail {
    max-height: 100%;
    margin: 0px 5px 0px 5px;
}

@media screen and (max-width: 600px) {

    #timeline-wrapper {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 100%;
        overflow-y: scroll;
        overflow-x: hidden;
        z-index: 0;
        -webkit-overflow-scrolling: touch;
    }

    #timeline {
        height: 100%;
        width: 80vw;
        max-width: 530px;
        padding-top: calc(50vh - 100px);
        margin-bottom: 200px;
        padding-left: 0;
        padding-right: 0;
        white-space: normal;
    }

    .thumbnail {
        max-width: 100%;
        margin: 5px 0px 5px 0px;
    }

}

.loader:empty {
    position: absolute;
    top: calc(50% - 4em);
    left: calc(50% - 4em);
    width: 6em;
    height: 6em;
    border: 1.1em solid rgba(0, 0, 0, 0.2);
    border-left: 1.1em solid #000000;
    border-radius: 50%;
    animation: load8 1.1s infinite linear;
}

@keyframes load8 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}